{% extends 'base.html.twig' %}

{% block body %}

<a href="{{ path('dish_index') }}" class="btn btn-success btn-lg">Dish</a>

<a href="{{ path('roomtable_index') }}" class="btn btn-success btn-lg">Room</a>

{% endblock %}
