{% extends 'base.html.twig' %}

{% block body %}

    <div id="table-container">
        {% include 'kitchen/_list.html.twig' with {'tableOrders': tableOrders} %}
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
 
    <script type="text/javascript">
        jQuery(document).ready(function() {
            $container = $('#table-container');
            
            setInterval(function() {
                $.get($(location).attr('href'))
                .done(function(data) {
                    $container.html(data);
                });
            }, 5000);
        });
    </script>
{% endblock %}
