{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des Tables</h1>
    <ul class="container-fluid room-tables">
        {% for roomTable in roomTables %}
            <li class="row">
                <a class="btn btn-info col" href="{{ path('order', {'id': roomTable.id}) }}">{{ roomTable.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
