{% extends 'base.html.twig' %}

{% block body %}

<a href="{{ path('room') }}" class="btn btn-success btn-lg">Room</a>

<a href="{{ path('kitchen') }}" class="btn btn-success btn-lg">Kitchen</a>

{% endblock %}
